@font-face {
  font-family: "TTNorms";
  src: url("src/fonts/TTNorms-Medium.ttf");
}

@mixin full {
  width: 100vw;
  height: 100vh;
}
@mixin no-margin {
  margin:0;
  padding:0;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --black: #000000;
  --white: #ffffff;
}

html, body {
  position: relative;
  overflow-x: hidden;

  background-color: var(--white);
}
body {
  @include full;
  @include no-margin;
  @include flex-center;

  cursor: default;

  p {
    font-family: "TTNorms", Arial, sans-serif;
    font-size: 24px;
  }
}